---
- name: Set variables
  ansible.builtin.set_fact:
    gateway_admin_password: "{{ vault_gateway_admin_password }}"
    gateway_pg_password: "{{ vault_gateway_pg_password }}"
    controller_admin_password: "{{ vault_controller_admin_password }}"
    controller_pg_password: "{{ vault_controller_pg_password }}"
    hub_admin_password: "{{ vault_hub_admin_password }}"
    hub_pg_password: "{{ vault_hub_pg_password }}"
    eda_admin_password: "{{ vault_eda_admin_password }}"
    eda_pg_password: "{{ vault_eda_pg_password }}"
    postgresql_admin_username: "{{ vault_postgresql_admin_username }}"
    postgresql_admin_password: "{{ vault_postgresql_admin_password }}"
    registry_username: "{{ vault_registry_username }}"
    registry_password: "{{ vault_registry_password }}"
    aap_setup_down_offline_token: "{{ vault_aap_setup_down_offline_token }}"
    aap_setup_automation_hub_token: "{{ vault_aap_setup_automation_hub_token }}"
    aap_install_vault_token: "{{ vault_aap_install_vault_token }}"
  no_log: false

- name: Fail if any variable is empty
  ansible.builtin.fail:
    msg: "One or more required variables are empty. Please check HashiCorp Vault for missing secrets."
  when: >
    gateway_admin_password is undefined or gateway_admin_password == '' or
    gateway_pg_password is undefined or gateway_pg_password == '' or
    controller_admin_password is undefined or controller_admin_password == '' or
    controller_pg_password is undefined or controller_pg_password == '' or
    hub_admin_password is undefined or hub_admin_password == '' or
    hub_pg_password is undefined or hub_pg_password == '' or
    eda_admin_password is undefined or eda_admin_password == '' or
    eda_pg_password is undefined or eda_pg_password == '' or
    postgresql_admin_username is undefined or postgresql_admin_username == '' or
    postgresql_admin_password is undefined or postgresql_admin_password == '' or
    aap_install_vault_token is undefined or aap_install_vault_token == ''
