---
- name: Deploy postgresql-contrib
  ansible.builtin.package:
    name: postgresql-contrib
    state: present

- name: Create AAP database users
  community.postgresql.postgresql_user:
    login_host: "{{ pg_host }}"
    login_user: "{{ pg_superuser }}"
    login_password: "{{ pg_superuser_password }}"
    login_port: "{{ pg_port }}"
    ssl_mode: "{{ pg_sslmode }}"
    name: "{{ item.owner }}"
    password: "{{ item.password }}"
    role_attr_flags: "LOGIN,CREATEDB"
    state: present
  loop: "{{ aap_databases }}"
  loop_control:
    label: "{{ item.owner }}"

- name: Create AAP databases
  community.postgresql.postgresql_db:
    login_host: "{{ pg_host }}"
    login_user: "{{ pg_superuser }}"
    login_password: "{{ pg_superuser_password }}"
    login_port: "{{ pg_port }}"
    ssl_mode: "{{ pg_sslmode }}"
    name: "{{ item.name }}"
    owner: "{{ item.owner }}"
    encoding: "UTF8"
    lc_collate: "en_US.UTF-8"
    lc_ctype: "en_US.UTF-8"
    state: present
  loop: "{{ aap_databases }}"
  loop_control:
    label: "{{ item.name }}"

- name: Enable hstore extension in Automation Hub DB
  community.postgresql.postgresql_ext:
    login_host: "{{ pg_host }}"
    login_user: "{{ pg_superuser }}"
    login_password: "{{ pg_superuser_password }}"
    login_port: "{{ pg_port }}"
    ssl_mode: "{{ pg_sslmode }}"
    db: "{{ hub_db_name }}"
    name: "hstore"
    state: present

- name: Check if hstore is installed
  community.postgresql.postgresql_query:
    login_host: "{{ pg_host }}"
    login_user: "{{ pg_superuser }}"
    login_password: "{{ pg_superuser_password }}"
    login_port: "{{ pg_port }}"
    ssl_mode: "{{ pg_sslmode }}"
    db: "{{ hub_db_name }}"
    query: "SELECT installed_version FROM pg_available_extensions WHERE name='hstore';"
  register: hstore_check

- name: Hstore installation result
  ansible.builtin.debug:
    var: hstore_check.rows
