controller_credentials:
  - name: "Vault Lookup Credential"
    description: "HashiCorp Loookup Credential allows access to HashiCorp Vault"
    credential_type: "HashiCorp Vault Secret Lookup"
    organization: "{{ aap_config_organization }}"
    inputs:
      url: "https://vault.example.com"
      cacert: "{{ lookup('community.hashi_vault.hashi_vault', hashi_vault_cacert_path + ':' + 'chain.pem' ) }}"
      role_id: "{{ lookup('ansible.builtin.env', 'ANSIBLE_HASHI_VAULT_ROLE_ID') }}"
      secret_id: "{{ lookup('ansible.builtin.env', 'ANSIBLE_HASHI_VAULT_SECRET_ID') }}"
      api_version: v1
      default_auth_path: approle

  - name: "Vault Credential"
    description: "This credential is used for ansible-vault"
    credential_type: "Vault"
    organization: "{{ aap_config_organization }}"

  - name: "Source Control Credential"
    description: "This credential allows access to Bitbucket project"
    credential_type: "Source Control"
    organization: "{{ aap_config_organization }}"

  - name: "Automation Hub Validated Repository"
    description: "This token is used to access to Private Automation Hub"
    credential_type: "Ansible Galaxy/Automation Hub API Token"
    organization: "{{ aap_config_organization }}"
    inputs:
      url: "https://{{ gateway_main_url }}/pulp_ansible/galaxy/validated/"
      token: "{{ hub_token }}"

  - name: "Automation Hub Certified Repository"
    description: "This token is used to access to Private Automation Hub"
    credential_type: "Ansible Galaxy/Automation Hub API Token"
    organization: "{{ aap_config_organization }}"
    inputs:
      url: "https://{{ gateway_main_url }}/pulp_ansible/galaxy/rh-certified/"
      token: "{{ hub_token }}"

  - name: "Automation Hub Published Repository"
    description: "This token is used to access to Private Automation Hub"
    credential_type: "Ansible Galaxy/Automation Hub API Token"
    organization: "{{ aap_config_organization }}"
    inputs:
      url: "https://{{ gateway_main_url }}/pulp_ansible/galaxy/published/"
      token: "{{ hub_token }}"

  - name: "Automation Hub Community Repository"
    description: "This token is used to access to Private Automation Hub"
    credential_type: "Ansible Galaxy/Automation Hub API Token"
    organization: "{{ aap_config_organization }}"
    inputs:
      url: "https://{{ gateway_main_url }}/pulp_ansible/galaxy/community/"
      token: "{{ hub_token }}"

  - name: "Netbox Credential"
    description: "This is used for Netbox token"
    credential_type: "Netbox"
    organization: "{{ aap_config_organization }}"
    inputs:
      NETBOX_API: "https://netbox.example.com"

  - name: "Private Automation Hub Registry Credential"
    description: "This credential is used for access to Private Automation Hub"
    credential_type: "Container Registry"
    organization: "{{ aap_config_organization }}"
    inputs:
      host: "{{ gateway_main_url }}"
      username: admin
      verify_ssl: true

  - name: "Machine Credential"
    description: "This credential is used to access AAP VMs using private key authentication"
    credential_type: "Machine"
    organization: "{{ aap_config_organization }}"
    inputs:
      username: aap
      become_method: sudo

  - name: "HashiCorp Vault Information"
    description: "This credential provides HashiCorp Vault role and secret id"
    credential_type: HashiCorp Vault Injector
    organization: "{{ aap_config_organization }}"
    inputs:
      role_id: "{{ lookup('env', 'ANSIBLE_HASHI_VAULT_ROLE_ID') }}"
      secret_id: "{{ lookup('env', 'ANSIBLE_HASHI_VAULT_SECRET_ID') }}"

  - name: "Test Credential"
    description: "Test credential used with the account testuser - can be deleted"
    credential_type: "Source Control"
    organization: "{{ aap_config_organization }}"
    inputs:
      password: "{{ lookup('env', 'AAP_TEST_CREDENTIAL') }}"
      username: "testuser"

