---
controller_credential_types:
  - name: "Bitbucket Project Access Token (Git)"
    description: "Bearer Token Auth for Bitbucket Project Access Tokens"
    kind: "cloud"
    inputs:
      fields:
        - id: BITBUCKET_TOKEN
          type: string
          label: Bitbucket Project/Repo HTTP Access Token
          secret: true
        required:
          - BITBUCKET_TOKEN

    injectors:
      env:
        GIT_CONFIG_COUNT: "1"
        GIT_CONFIG_KEY_0: http.extraHeader
        GIT_CONFIG_VALUE_0: !unsafe "{{ BITBUCKET_TOKEN }}"

  - name: "Netbox"
    description: "This is custom Netbox credential"
    kind: "cloud"
    inputs:
      fields:
        - id: NETBOX_API
          type: string
          label: NetBox Host URL
        - id: NETBOX_TOKEN
          type: string
          label: NetBox API Token
          secret: true
        required:
          - NETBOX_API
          - NETBOX_TOKEN

    injectors:
      env:
        NETBOX_API: !unsafe "{{ NETBOX_API }}"
        NETBOX_TOKEN: !unsafe "{{ NETBOX_TOKEN }}"

  - name: "HashiCorp Vault Injector"
    description: "This credential injects related secret from HashiCorp Vault as a variable to the playbook"
    kind: "cloud"
    inputs:
      fields:
        - id: role_id
          type: string
          label: role id
          help_text: define HashiCorp role id
          secret: true
        - id: secret_id
          type: string
          label: secret id
          help_text: define HashiCorp secret id
          secret: true
        required:
          - role_id
          - secret_id
    injectors:
      extra_vars:
        ansible_hashi_vault_role_id: !unsafe '{{ role_id }}'
        ansible_hashi_vault_secret_id: !unsafe '{{ secret_id }}'
